*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: rgb(126, 170, 194);
    box-shadow: 0 5px 15px rgb(rgb(152, 94, 191));
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: rgb(32, 34, 34);
    transition: 0.3s ease;
}

#navbar li a:hover{
    color: rgb(15, 161, 161);
}

#navbar li a:hover,
#navbar li a.active{
    color: rgb(15, 161, 161);
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(15, 161, 161);
    position: absolute;
    bottom: -4px;
    left: 20px;
}



#hero{
    background-image: url("image/background/background-hero.jpg");
}




